
.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;
  color: #00FFFF;
}


#arodape {
    color: white;
    padding-inline: 10px;
}

#arodape:hover {
    color: black;
    background-color: #00FFFF;
    font-weight: bold;
    border-radius: 15px;
}
